* {
    border-style: border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    font-size: 1.75em;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.item {
    background-color: grey;
    border: 4px black solid ;
    flex-grow: 1;
    margin: 15px;
}

.sub-item {
    text-align: center;
    border: 3px black solid;
}

/* **************************couleurs***************************** */

#chicken {
    background-color: pink;
}

#beef {
    background-color: red;
    color: white;
}

#sushi {
    background-color: sandybrown;
}

/* ***********mettre les noms de viandes à droite***************** */

.item {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.meat {
    flex-grow: 0.1;
    margin: -3px;
    /* on avait originellement une margin de 3px, on l'enleve pour avoir le 
    "chicken" collé dans le coin */
    padding: 4px;
    font-weight: bold;
    flex-basis: 65px;
    font-size: 1.25em;
}

.txt {
    border: 0px;
    text-align: left;
    padding: 0px 10px 0px 10px;
    margin: -10px 0px 0px 0px;
}

/* ***********************media queries*************************** */

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        flex-wrap: wrap;
    }

    .on-top-when-tablet-version {
        flex-basis: 40%;
    }

    .bottom-when-tablet-version {
        flex-grow: 1;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}